.project-card .Project_Details {
    display: flex;
    padding: 6px;
    position: absolute;
    top: 0px;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    background: rgb(0 0 0 / 78%);
    left: 110%;
    transition: all 0.5s cubic-bezier(0.81, -0.05, 0.25, 1) .2s;
}

.project-card:hover .Project_Details {
    left: 0px;
    transition: all 0.5s cubic-bezier(0.81, -0.05, 0.25, 1) .2s;
    opacity: 1;
}